.polaroids{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ece7d5;
    color: #000;
    width: 100vw;
    height: 100vh;
}

.lista_polaroids{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.lista_polaroids .polaroid{
    display: inline-block;
    box-sizing: border-box;
    margin: 0.5rem;
    /* width: 240px;
    height: 320px; */
    padding: 1px;
    border-radius: 1rem;
}

.polaroid.um{
    transform: perspective(1500px) rotateY(15deg);
    transition: transform 1s ease 0s;
}

.polaroid.um:hover {
    transform: perspective(3000px) rotateY(5deg);
}

.polaroid.dois{
    transform:  translateY(-24px) scale(0.94);
    transition: transform 1s ease 0s;
}

.polaroid.dois:hover {
    transform: translateY(-24px) scale(1);
}


.polaroid.tres{
    transform: perspective(1500px) rotateY(-15deg);
    transition: transform 1s ease 0s;
}

.polaroid.tres:hover {
    transform: perspective(3000px) rotateY(-5deg);
  }

.lista_polaroids .polaroid {
    /* aqui ó */
    /* no preto lighten */
    mix-blend-mode: overlay; 
    background-size: cover;
    height: 60vh;
    /* ATENÇÃO, QUALQUER ERRO NO POLAROID OLHA ISSO  */
}

.lista_polaroids .polaroid:nth-child(1){
    background: url(../assets/imgs/1.png) no-repeat;
}

.lista_polaroids .polaroid:nth-child(2){
    background: url(../assets/imgs/2.png) no-repeat;
}

.lista_polaroids .polaroid:nth-child(3){
    background: url(../assets/imgs/3.png) no-repeat;
}


.lista_polaroids .polaroid img{
    /* mix-blend-mode: overlay; */
    mix-blend-mode: screen;
    width: 30vw;
    height: 60vh;

}

.texto_polaroids{
    text-align: center;
}

.texto_polaroids h1{
    font-family: var(--gruppo);
    font-size: 5.5vw;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0px;
}

.texto_polaroids p{
    font-size: 1.5vw;
    text-align: justify;
}


@media screen and (max-width:600px){
    .lista_polaroids .polaroid.um,
    .lista_polaroids .polaroid.tres{
        display: none;
        
    }

    .lista_polaroids .polaroid img {
        width: 85vw;
        height: 60vh;
    }

    .lista_polaroids .polaroid { 
        height: 60vh;
    }

    .texto_polaroids p {
        font-size: 4.5vw;
        text-align: center;
    }
}



@media screen and (min-width:600px) and (max-width:700px){
    .lista_polaroids .polaroid img {
        width: 30vw;
        height: 30vh;
    }
    
    .lista_polaroids .polaroid { 
        height: 30vh;
    }
}


@media screen and (min-width:700px) and (max-width:1000px) {
    .lista_polaroids .polaroid img {
        width: 30vw;
        height: 40vh;
    }
    
    .lista_polaroids .polaroid { 
        height: 40vh;
    }
}