main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background:  linear-gradient( to right,
    rgb(0, 0, 0),
    #00000000
    ),url(../assets/imgs/img_quadros/caléndario.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* 
.fade {
    animation-name: fade;
    animation-duration: 7s;
}

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
} */


.informacao, 
.produto{
    width: 100vw;
    height: 100vh;
}

.informacao{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5rem;
    padding: 2rem;

}

.informacao h1{
    font-family: var(--gruppo);
    font-size: 5.6vw;
    text-align: center;    
}

.informacao p{
    font-size: 2vw;
    font-family: var(--gruppo);
}

.informacao .preco{
    text-align: center;
    margin-top: 6rem;
    font-family: var(--gruppo);
    font-size: 3vw;
}

.informacao .quadro img{
    width: 400px;
    height: 600px;
    opacity: 0.8;
    transform: perspective(1500px) rotateY(-15deg);
    transition: transform 1s ease 0s;
    border: 9px solid var(--preto);
    
}

.informacao .quadro img:hover{
    transform: perspective(3000px) rotateY(-5deg);
}

.produto{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.produto .calendario{
    position: relative;
    width: 60vw;
    height: 70vh;
    margin-bottom: 9rem;
}

.calendario .content{
    position: absolute;
    background: url(../assets/imgs/img_quadros/caléndario.png) no-repeat;
    background-position: center;
    background-size: cover;
    inset: 0;
    transition: .5s ease-in-out;
}

.calendario .hover.point{
    position: absolute;
    z-index: 3;
    width: calc(100% / 3);
    height: calc(100% / 3);
}

.hover.point:nth-child(1){
    top: 0;
    left: 0;
}

.hover.point:nth-child(2){
    top: 0;
    left: calc(100% / 3);
}

.hover.point:nth-child(3){
    top: 0;
    right: 0;
}

.hover.point:nth-child(4){
    top: calc(100% / 3);
    left: 0;
}

.hover.point:nth-child(5){
    top: calc(100% / 3);
    right: 0;
}

.hover.point:nth-child(6){
    bottom: 0;
    left: 0;
}

.hover.point:nth-child(7){
    bottom: 0;
    left: calc(100% / 3);
}

.hover.point:nth-child(8){
    right: 0;
    bottom: 0;
}

.hover.point:nth-child(1):hover ~  .content {
    box-shadow: 15px 15px 50px rgba(0, 0, 0, .3);
    transform-origin: right top;
    transform: perspective(1000px) rotateX(10deg) rotateY(-10deg) rotateZ(2deg);
}

.hover.point:nth-child(2):hover ~  .content {
    box-shadow: 0 15px 50px rgba(0, 0, 0, .3);
    transform-origin: center top;
    transform: perspective(1000px) rotateX(10deg);
}

.hover.point:nth-child(3):hover ~  .content {
    box-shadow: -15px 15px 50px rgba(0, 0, 0, .3);
    transform-origin: left top;
    transform: perspective(1000px) rotateX(10deg) rotateY(10deg) rotateZ(-2deg);
}

.hover.point:nth-child(4):hover ~  .content {
    box-shadow: 15px 5px 50px rgba(0, 0, 0, .3);
    transform-origin: left center;
    transform: perspective(3000px) rotateY(-10deg);
}

.hover.point:nth-child(5):hover ~  .content {
    box-shadow: -15px 5px 50px rgba(0, 0, 0, .3);
    transform-origin: right center;
    transform: perspective(3000px) rotateY(10deg);
}

.hover.point:nth-child(6):hover ~  .content {
    box-shadow: 15px -15px 50px rgba(0, 0, 0, .3);
    transform-origin: right bottom;
    transform: perspective(1000px) rotateX(-10deg) rotateY(-10deg) rotateZ(-2deg);
}

.hover.point:nth-child(7):hover ~  .content {
    box-shadow: 0 -15px 50px rgba(0, 0, 0, .3);
    transform-origin: center bottom;
    transform: perspective(1000px) rotateX(-10deg);
}

.hover.point:nth-child(8):hover ~  .content {
    box-shadow: -15px -15px 50px rgba(0, 0, 0, .3);
    transform-origin: left bottom;
    transform: perspective(1000px) rotateX(-10deg) rotateY(10deg) rotateZ(2deg);
}

.produto .calendario-texto{
   display: flex;
   text-align: center;
   font-family: 'Courier New', Courier, monospace;
   text-shadow: 1px 1px 1px #000;
}

@media screen and (max-width: 650px) {
    .informacao .quadro img{
        display: none;
     }
     
     .informacao{
        gap: 0rem;
        padding: 0rem;
        height: 10vh;
        margin-top: 8rem;
    
    }

     
    .informacao h1 {
        font-family: var(--gruppo);
        font-size: 10.6vw;
        text-align: center;
    }
    
    .informacao p {
        font-size: 5vw;
        font-family: var(--gruppo);
    }

    .informacao .preco{
        margin-top: 2rem;
        font-size: 6vw;
    }
}


@media screen and (min-width:300px) and  (max-width:460px) {
    .produto .calendario{
        position: relative;
        width: 80vw;
        min-width: 340px;
        max-width: 340px;
        height: 28vh;
        margin-bottom: 9rem;
    }
}

@media screen and (min-width:460px) and  (max-width:650px) {
    .produto .calendario{
        position: relative;
        width: 70vw;
        min-width: 420px;
        max-width: 420px;
        height: 35vh;
        margin-bottom: 9rem;
    }
}


@media screen and (min-width:650px) and (max-width:900px) {
    .produto .calendario{
        position: relative;
        width: 95vw;
        min-width: 620px;
        max-width: 620px;
        height: 50vh;
        margin-bottom: 9rem;
    }
}

@media screen and (max-width:1320px) {
    .informacao .quadro img{
        width: 300px;
        height: 500px;
    }
}