main{
    display: flex;
    flex-direction: row;
    background:  linear-gradient( to right,
    rgb(0, 0, 0),
    rgb(0 0 0 / 0)
    ),url(https://fastly.picsum.photos/id/681/5000/2951.jpg?hmac=01BxiMvFITUx4h3xM_x0IUp2w5KyQHzUd1AVxm8FKG0) no-repeat;
    background-size: cover;
}
/* 
.fade {
    animation-name: fade;
    animation-duration: 7s;
}

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
} */


.informacao, 
.produto{
    width: 100vw;
    height: 100vh;
}

.informacao{
    display: flex;
    align-items: center;
    /* background-color: var(--preto); */
    padding: 2rem;

}

.informacao h1{
    font-family: var(--gruppo);
    font-size: 5.6vw;
    text-align: center;    
}

.informacao p{
    font-size: 2vw;
    font-family: var(--gruppo);
}

.informacao .preco{
    text-align: center;
    margin-top: 6rem;
    font-family: var(--gruppo);
    font-size: 3vw;
}

.produto{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: var(--preto); */
}

/* .produto div{
    box-shadow: 0px 0px 40px 0px #fff;
} */

.produto img{
    width: 20vw;
    height: 60vh;
    min-width: 300px;
    max-width: 400px;
    opacity: 0.8;
    transform: perspective(1500px) rotateY(15deg);
    transition: transform 1s ease 0s;
    
}

.produto img:hover{
    transform: perspective(3000px) rotateY(5deg);
}

.produto img:nth-child(2){
    transform: perspective(1500px) rotateY(-15deg);
    transition: transform 1s ease 0s;
    border: 9px solid var(--preto);

}

.produto img:nth-child(2):hover{
    transform: perspective(3000px) rotateY(-5deg);
}


@media screen and (max-width:1245px) {
    main{
        display: flex;
        flex-direction: column;
    }

    .informacao{
        height: 10vh;
        margin-top: 7rem;
    }

    .informacao h1{
        font-size: 10.6vw; 
    }
    
    .informacao p{
        font-size: 5.5vw;
        text-align: center;
    }
    
    .informacao .preco{
        margin-top: 2rem;
        font-size: 8vw;
    }
}

@media screen and (max-width:870px) {
    .produto img:nth-child(2){
        display: none;
    }
  
}

@media  screen and (min-width:200px) and  (max-width: 440px) {
    .produto img{
        width: 20vw;
        height: 64vh;
        min-width: 300px;
        max-width: 300px;
        transform: none;
    }
}


@media screen and (min-width:440px) and (max-width: 870px) {
      
    .informacao, 
    .produto{
        width: 100vw;
        height: 100vh;
    }

    .informacao{
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .produto img{
        width: 20vw;
        height: 80vh;
        min-width: 400px;
        max-width: 400px;
        transform: none;
    }
  

  

}



@media screen and (min-width:870px) and (max-width:1245px) {
   
    .informacao, 
    .produto{
        width: 100vw;
        height: 100vh;
    }

    .informacao{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .produto img{
        width: 20vw;
        height: 70vh;
        min-width: 400px;
        max-width: 400px;
       
    }
   
}


/* @media screen and (min-width:1000px) and (max-width:1320px) {
    .slider-imgs{
        width: 28vw;
        height: 65vh;
     }

     .slider-nav{
        height: 65vh;
    }

    .produto img{
        width: calc(400px / 2);
        height:calc(600px / 2);
    }
} */