main{
    display: flex;
    flex-direction: column;
    background: #fff;
    background-attachment: fixed;
    background-size: cover;
}

/* 
.fade {
    animation-name: fade;
    animation-duration: 7s;
}

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
} */




.informacao{
    display: flex;
    align-items: center;
    justify-content:center ;
    /* background-color: var(--preto); */
    padding: 2rem;
    margin-top: 9rem;
    color: #000;
    font-weight: bold;

}

.informacao h1{
    font-family: var(--gruppo);
    font-size: 5.6vw;
    text-align: center;
        
}

.informacao p{
    font-size: 2vw;
    font-family: var(--gruppo);
}

.informacao .preco{
    text-align: center;
    margin-top: 6rem;
    font-family: var(--gruppo);
    font-size: 3vw;
}

.produto{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    /* background-color: var(--preto); */
}

/* .produto div{
    box-shadow: 0px 0px 40px 0px #fff;
} */

.produto img,iframe{
    width: 500px;
    height: 700px;
    
}

.produto img{
    opacity: 0.8;
    transform: perspective(1500px) rotateY(15deg);
    transition: transform 1s ease 0s;
    
}

.produto img:hover{
    transform: perspective(3000px) rotateY(5deg);
}


.produto img:nth-child(3){
    transform: perspective(1500px) rotateY(-15deg);
    transition: transform 1s ease 0s;
    border: 9px solid var(--preto);

}

.produto img:nth-child(3):hover{
    transform: perspective(3000px) rotateY(-5deg);
}

.produto h1 {
    font-family: var(--gruppo);
    font-size: 3.6vw;
    text-align: center;
    margin-top: 2rem;
    color: #000; 
}

@media screen and (min-width:300px) and (max-width:430px) {
    .produto iframe{
        width: calc(500px / 1.5);
        height: calc(700px / 1.5);
    }
}

@media screen and (min-width:430px) and (max-width:540px) {
    .produto iframe{
        width: calc(500px / 1.2);
        height: calc(700px / 1.2);
    }
}

@media screen and (max-width:765px) {
    main{
        background:linear-gradient( to bottom,
        rgb(0, 0, 0),
        rgb(0 0 0 / 0)
        ), url(../assets/imgs/img_quadros/quadros_spotify/spotify_black.png) no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    
    .produto img:nth-child(1),
    .produto img:nth-child(3){
      display: none;
    }

    .informacao{
        color: #fff;
    }

    .informacao h1{
        font-size: 10.6vw; 
    }
    
    .informacao p{
        font-size: 6vw;
    }
    
    .informacao .preco{
        margin-top: 6rem;
        font-size: 8vw;
    }
}



@media screen and (min-width: 765px) and  (max-width: 1040px){
    .produto img,iframe{
        width: calc(500px / 2);
        height: calc(700px / 2);
    }
}

@media screen and (min-width:1040px) and  (max-width:1540px){
    .produto img,iframe{
        width: calc(500px / 1.5);
        height: calc(700px / 1.5);
    }
}