
.conteudo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin: 4rem; */
  
}

.boas_vindas{
    height: 100vh;
    width: 100vw;
}

.box{
    height: 100vh;
    width: 80vw;
}

.boas_vindas{
    background: #ece7d5;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding-left:4rem;
    justify-content: center;
    z-index: 2;
    color: #FFFBF3;

}

.boas_vindas h1,
.boas_vindas h2,
.boas_vindas .button{
    color: #000;
}

.boas_vindas h2{
  display: none;
}


.boas_vindas h1{
    margin-top: 12px;
    font-family: var(--play);
    font-size: 3vw;

}

.boas_vindas .button{
    font-weight: bold;
    font-family: var(--gruppo);
    margin-top: 40px; 
    font-size: 1.6vw;
    margin: 20px 0px 20px 0px;
    transition: 0.3s ease-in;
}


.boas_vindas a.button:hover{
    color: #fdfdfd;
    text-shadow: 1px 1px #000;
    font-weight: bold;
    
    
    
}

.social ul{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.social ul li{
    border-radius: 1rem;
}

.social ul li img{
    filter: invert(0);
    width: 5vw;
    height: 5vh;
}


.box{
    object-fit: cover;
    background: url(/assets/imgs/4.png) no-repeat;
    z-index: 1;
    animation: slide 20s infinite alternate;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    border-radius: 0px 0px 0px 894px;
    box-shadow: inset 1px 1px 20px 1px #000;
    
}

.box h2{
    font-family: var(--cormoran);
    /* inpis */
    font-size: 10vw;
    color: #fff;
    text-shadow: 2px 2px #362409;
    text-align: center;
    
}

.box h2::first-letter{
    font-size: 11vw;
    color: #fff;
    text-shadow: 4px 2px #362409;
}




@keyframes slide {
    0%{

    }
    
    20%{
        background: url(/assets/imgs/background.png);
        background-size: cover;
        background-position: center;
    }

    40%{
        background: url(/assets/imgs/produtos/imagem\ 1\ \(1\).jpg);
        background-size: cover;
        background-position: center;
    }

    60%{
        background: url(/assets/imgs/produtos/imagem\ 1\ \(2\).jpg);  
        background-size: cover;
        background-position: center;
    }
    
    100%{

    }
}


@media screen and (max-width:600px) {
    
}


@media screen and (max-width:800px) {
    .boas_vindas{
        backdrop-filter: blur(2px) saturate(180%);
        -webkit-backdrop-filter: blur(2px) saturate(180%);
        background-color: rgba(10, 13, 20, 0.75);
    }

    .boas_vindas h1{
        margin-top: 12px;
        font-family: var(--play);
        font-size: 5vh;
    
    }

    
    .boas_vindas h2{
        display: block;
        font-family: var(--italiano);
        font-size: 15vw;
        
    }


    .boas_vindas .button{
        font-size: 1.9vh;
        
    }
    

    .social ul li img{
        width: 35px;
        height: 35px;
        filter: invert(1);
    }
   
    .box{
        position: absolute; 
        border-radius: 0px 0px 0px 0px;
        
    }

    .box h2{
        display: none;
        
    }

    .boas_vindas h1,
    .boas_vindas h2,
    .boas_vindas .button{
        color: #FFFBF3;
    }
    
}