header{
    position: fixed;
    z-index: 3;
}

header .menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 12.5%;
    display: flex;
    align-items: center;
    z-index: 1;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.logo{
    width: 50px;
    height: 50px;
    border-radius: 5rem;
    margin: 10px;
}

.menu a{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    margin-right: 30px;
    color: #ffffff;
    transition: 0.4s ease-in-out;
    text-shadow: 2px 2px #000;
}

.menu:hover a:not(:hover){
    color: #ffffff41;
}

@media screen and (max-width:580px) {
    .logo{
        display: none;
        
    }   
}