.quadros{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ece7d5;
    color: #000;
    width: 100vw;
    height: 110vh;
}

.quadros h1{
    margin-top: 2rem;
    font-family: var(--Xanh);
    font-size: 6vw;
}
