.revelacao{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ece7d5;
    color: #000;
    width: 100vw;
    height: 100vh;
}

.revelacao h1{
    font-family: var(--gruppo);
    font-size: 5.5vw;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0px;
}

.revelacao table{
    border-collapse: collapse;
    margin:  25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 80vw;
    height: 60vh;
    empty-cells: hide;
    box-shadow:  0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr{
    /* #009879 */
    background-color: #000;
    color: #fff;
    text-align: left;
}

.table tr,th{
    padding: 12px 15px;
    font-size: 2vh;
    text-align: center;
}

tbody tr{
    border-bottom: 1px solid #ddd;
    font-size: 2vh;
}

tbody td{
    text-align: center;
    vertical-align: middle;
}

tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

tbody tr.active-row{
    font-weight: bold;
    color: #009879;
}