main{
    display: flex;
    flex-direction: row;
    background:  linear-gradient( to right,
    rgb(0, 0, 0),
    rgb(0 0 0 / 0)
    ),url(https://fastly.picsum.photos/id/681/5000/2951.jpg?hmac=01BxiMvFITUx4h3xM_x0IUp2w5KyQHzUd1AVxm8FKG0) no-repeat;
    background-size: cover;
}
/* 
.fade {
    animation-name: fade;
    animation-duration: 7s;
}

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
} */


.informacao, 
.produto{
    width: 100vw;
    height: 100vh;
}

.informacao{
    display: flex;
    align-items: center;
    /* background-color: var(--preto); */
    padding: 2rem;

}

.informacao h1{
    font-family: var(--gruppo);
    font-size: 5.6vw;
    text-align: center;    
}

.informacao p{
    font-size: 2vw;
    font-family: var(--gruppo);
}

.informacao .preco{
    text-align: center;
    margin-top: 6rem;
    font-family: var(--gruppo);
    font-size: 3vw;
}

.produto{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: var(--preto); */
}

/* .produto div{
    box-shadow: 0px 0px 40px 0px #fff;
} */

.produto img{
    width: 400px;
    height: 600px;
    opacity: 0.8;
    transform: perspective(1500px) rotateY(15deg);
    transition: transform 1s ease 0s;
    
}

.produto img:hover{
    transform: perspective(3000px) rotateY(5deg);
}

.produto img:nth-child(2){
    transform: perspective(1500px) rotateY(-15deg);
    transition: transform 1s ease 0s;
    border: 9px solid var(--preto);

}

.produto img:nth-child(2):hover{
    transform: perspective(3000px) rotateY(-5deg);
}