main{
    display: flex;
    flex-direction: row;
    background:url(/assets/imgs/backgrounds/frases.png) no-repeat;
    background-size: cover;
}

/* 
.fade {
    animation-name: fade;
    animation-duration: 7s;
}

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
} */


.informacao, 
.produto{
    width: 100vw;
    height: 100vh;
}

.informacao{
    display: flex;
    align-items: center;
    /* background-color: var(--preto); */
    padding: 2rem;

}

.informacao h1{
    font-family: var(--gruppo);
    font-size: 5.6vw;
    text-align: center;    
}

.informacao p{
    font-size: 2vw;
    font-family: var(--gruppo);
}

.informacao .preco{
    text-align: center;
    margin-top: 6rem;
    font-family: var(--gruppo);
    font-size: 3vw;
}

.produto{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: var(--preto); */
}

.slider-produto{
    display: flex;
    flex-direction: row-reverse;
    gap: 0.5rem;
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

.slider-imgs{
   display: flex;
   width: 28vw;
   height: 74vh;
   overflow-x: hidden; 
   scroll-snap-type: x mandatory;
   scroll-behavior: smooth;
   -webkit-overflow-scrolling: touch;
   box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
   border-radius: 0.5rem;
   
}

.slider-imgs img{
    flex:  1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;

}

.slider-nav{
    display: flex;
    flex-direction: column;
    overflow: auto;
    overflow-x: hidden;
    height: 74vh;
    /* position: absolute; */
    /* bottom: 1.25rem; */
    /* left: 50%; */
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav::-webkit-scrollbar{
    width: 3px;
}

.slider-nav::-webkit-scrollbar-track{
    background: #24242400;
}

.slider-nav::-webkit-scrollbar-thumb{
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    transition: 0.5s ease;
    
}

.slider-nav::-webkit-scrollbar-thumb:hover{
    background-color: rgb(255, 255, 255);
}

.slider-nav a{
    /* width: 0.7rem;
    height: 0.7rem; */
    opacity: 0.75;
    transition: opacity ease 250ms;
    transition: 250ms;
}

.slider-nav a img{
    width: 73px;
    height: 98px;
}

.slider-nav a:hover{
   scale: 1.1;
}



.slider-nav a:hover{
   opacity: 1; 
}

/* 
@media screen and (max-width:1000px) {
    main{
        display: flex;
        flex-direction: column;
    }

    
    .informacao, 
    .produto{
        width: 100vw;
        height: 80vh;
    }

    .informacao{
        display: flex;
        align-items: center;
        justify-content: center;
    }
       
}


@media screen and (min-width:1000px) and (max-width:1320px) {
    .slider-imgs{
        width: 28vw;
        height: 65vh;
     }

     .slider-nav{
        height: 65vh;
    }
} */